{% extends 'base.html' %}

{% block title %}{{ task.title }}{% endblock %}
{% block menu %}
    <a class="nav-link" aria-current="page"  href="{% url 'task_update_view' pk=task.pk %}">Редактировать</a>
    <a class="nav-link" aria-current="page"  href="{% url 'task_delete_view' pk=task.pk %}">Удалить</a>
{% endblock %}

{% block content %}
    <h1>Task</h1>
        <div class="card" >
            <div class="card-body">
                <p class="card-subtitle mb-2 text-body-secondary">{{ task.type }}</p>
                <p class="card-subtitle mb-2 text-body-secondary">{{ task.status }}</p>
                <h5 class="card-subtitle mb-2 text-body-secondary">{{ task.description }}</h5>
                <h5 class="card-subtitle mb-2 text-body-secondary">{{ task.detailed_description }}</h5>
                <p class="card-subtitle mb-2 text-body-secondary">Дата создания: {{ task.created_at }}</p>
                <p class="card-subtitle mb-2 text-body-secondary">Дата изменения: {{ task.updated_at }}</p>

            </div>
        </div>
{% endblock %}
